---
import { Image } from 'astro:assets';
import whatsappIcon from '@/images/whatsapp.svg';
import emailIcon from '@/images/email.svg';
---

<section id="contact" class="w-full py-12 border-t border-[#ffffff10]">
	<div class="max-w-5xl mx-auto">
		<h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Hablemos</h2>
		<h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-2">Contacto</h3>
		<div class="text-[var(--white)] mb-5">Córdoba / Buenos Aires - Argentina</div>
		<a
			href="https://wa.me/543512950581"
			target="_blank"
			class="flex items-center gap-2 no-underline hover:underline mb-2"
		>
			<Image src={whatsappIcon} alt="WhatsApp" width={24} height={24} class="w-6 h-6" />
			<span class="text-[var(--white)]">WhatsApp</span>
		</a>

		<!-- Email con botón de copiado -->
		<div class="flex items-center gap-2 relative">
			<Image src={emailIcon} alt="Email" width={24} height={24} class="w-6 h-6" />
			<span class="text-[var(--white)]">martinjurinam@gmail.com</span>
			<button
				id="copyFooterEmail"
				aria-label="Copiar email"
				class="ml-2 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					viewBox="0 0 24 24"
					width="20"
					height="20"
				>
					<path
						d="M16 1H4C2.897 1 2 1.897 2 3v14h2V3h12V1zM20 5H8C6.897 5 6 5.897 6 7v14c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V7C22 5.897 21.103 5 20 5zM20 21H8V7h12V21z"
					></path>
				</svg>
				<!-- Tooltip -->
				<span
					id="footerTooltip"
					class="absolute bottom-full mb-2 transform -translate-x-1/2 bg-black text-white text-xs px-2 py-1 rounded opacity-0 pointer-events-none transition-opacity duration-300"
				>
					Copiado
				</span>
			</button>
		</div>
	</div>

	<script>
		const copyFooterEmailButton = document.getElementById('copyFooterEmail');
		copyFooterEmailButton.addEventListener('click', () => {
			const email = 'martinjurinam@gmail.com';
			navigator.clipboard
				.writeText(email)
				.then(() => {
					const tooltip = document.getElementById('footerTooltip');
					tooltip.style.opacity = '1';
					setTimeout(() => {
						tooltip.style.opacity = '0';
					}, 1500);
				})
				.catch((err) => {
					alert('Error al copiar el email');
				});
		});
	</script>
</section>
