---
import { Image } from 'astro:assets';
import Logos from '../components/Logos.astro';
import SkillsList from '../React/SkillsList.tsx';
import image from '@/images/img1.webp';
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
	<div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
		<div class="text-left space-y-2">
			<p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
				Hola, Soy Martín Juri Nam
			</p>
			<div
				class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
			>
				<h1 class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none">
					<span class="underline-40">Desarrollo</span>
					<br /> Web<br />
				</h1>
				<p class="text-md md:text-2xl text-[var(--white-icon)]">
					Con más de 8 años de experiencia en desarrollo <span class="text-[var(--sec)] shiny-sec"
						>frontend</span
					>, me defino como un profesional autodidacta. Me encanta aprender nuevas tecnologías web y
					transformar ideas en experiencias digitales.
				</p>
			</div>
		</div>
		<div class="flex justify-start gap-2 pt-3 md:pt-6">
			<a
				target="_blank"
				href="https://www.linkedin.com/in/martin-juri-nam/"
				aria-label="LinkedIn"
				class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="size-8"
				>
					<path
						d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
					></path>
				</svg>
			</a>

			<a
				target="_blank"
				href="/pdf/Cv_Martin_Juri_Mar25_es.pdf"
				aria-label="Currículum Vitae"
				class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)] flex items-center gap-2"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 448 512">
					<path
						fill="currentColor"
						d="M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm98.88 133.234c19.636 0 37.082 6.789 49.929 16.971c11.88 9.452 17.444 18.907 22.298 27.393l-33.923 16.949c-2.427-5.565-5.347-11.387-12.846-17.682c-8.248-6.552-16.478-8.484-23.524-8.484c-27.626 0-42.17 25.693-42.17 54.287c0 37.573 19.161 56.22 42.17 56.22c22.3 0 31.278-15.51 37.08-25.435L219.6 302.66c-6.315 9.926-12.374 19.635-25.95 29.069c-7.262 5.09-23.977 15.037-47.736 15.037C100.586 346.766 64 313.81 64 255.87c0-50.636 34.415-90.637 82.88-90.637m75.483 5.328h45.565L303.31 292.24l35.125-121.678H384l-59.379 171.112H281.01z"
					></path>
				</svg>
			</a>
		</div>
	</div>

	<Logos />

	<div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
		<div class="flex flex-col lg:flex-row items-start gap-8">
			<div class="flex-1">
				<SkillsList client:load />
			</div>
			<div class="flex justify-center items-center lg:w-[592px] h-[205px] mt-12 mx-auto">
				<Image src={image} alt="Martín Juri Nam" class="object-contain" width="350" height="350" />
			</div>
		</div>
	</div>

	<style is:global>
		.shiny-sec {
			background: linear-gradient(135deg, #00bfff 25%, #eee5ff 50%, #00bfff 75%);
			background-size: 400% 100%;
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			animation: shine 3s linear infinite;
		}

		@keyframes shine {
			0% {
				background-position: 100% 50%;
			}
			30%,
			70% {
				background-position: 0% 50%;
			}
		}
		.underline-40 {
			position: relative;
			display: inline-block;
		}

		.underline-40::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 60%;
			height: 2px;
			background-color: #00bfff;
			transform: scaleX(0);
			transform-origin: right;
			animation: underlineAnim 0.5s forwards;
		}

		@keyframes underlineAnim {
			to {
				transform: scaleX(1);
			}
		}
	</style>
</section>
