---
import '../styles/global.css';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.png" type="image/png" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- Solo cargamos la fuente Josefin Sans -->
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<title>{title}</title>
	</head>
	<body class="bg-[var(--background)] md:px-48 lg:px-20 px-9">
		<slot />
	</body>
</html>
